<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver">
    <test verbose="2" preserve-order="true" name="Run on Firefox browser">
        <classes>
            <class name="testng.Topic_01_Sample">
            </class>
        </classes>
    </test>
</suite>